.env
.venv/
venv/
.claude/

# logs
*.log

# db
*.sqlite3

# Django
media/
staticfiles/

# Python
__pycache__/
*.pyc


# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Carpetas de node (si llegas a usar algo de JS en el futuro)
node_modules/